[AWS]
key=AKIA3XH6DZKVRTZZAKUU
secret=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

[CLUSTER]
HOST=redshift-cluster-1.cgix7i1zklch.us-west-2.redshift.amazonaws.com
DB_NAME=dev
DB_USER=awsuser
DB_PASSWORD=cdgg5234A
DB_PORT=5439

[IAM_ROLE]
ARN=arn:aws:iam::805839293099:role/myRedshiftRole

[S3]
LOG_DATA=s3://udacity-dend/log_data
LOG_JSONPATH=s3://udacity-dend/log_json_path.json
SONG_DATA=s3://udacity-dend/song_data